* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 100px;
}

header {
    /* 내 부모 요소를 100분율로 사용 */
    width: 100%;
    height: 100px;
    background-color: lightblue;
}

header .inner {
    position: relative;
    height: 100%;
    margin: auto;
    /* 그냥 width로 작성하면 가로스크롤 생겨버림, 1200보다 늘어날수없게 max-width로 작성하기 */
    max-width: 1200px;
    padding: 0 1.5rem;
}

header .inner .logo {
    /* absolute를 하는 이유 : 요소 쌓인 순서에서 벗어나게 해서 li 메뉴들과 분리 해서 위치 고정 시킴 */
    /* 메뉴 들은 정중앙에 위치하게 하기 위해 logo는 포지션 앱솔루트 줌! */
    position: absolute;
    /* i는 font-size로 크기 조절 */
    font-size: 50px;
    line-height: 100px;
    color: aliceblue;
    cursor: pointer;
}
/* 강사님 답 */

/* header .inner .menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .inner .menu li {
    margin-right: 20px;
} */

.menu li {
    font-weight: 700;
    padding: 0 10px;
    cursor: pointer;
}

.small-menu,
.menu-bar {
    display: none;
}

@media screen and (max-width: 768px) {
    .small-menu,
    .menu-bar {
        display: block;
        text-align: center;
        background-color: rgb(242, 255, 255);
        line-height: 50px;
        cursor: pointer;
    }
    .menu {
        display: none;
    }

    header .inner .logo {
        width: 100%;
        display: block;
        text-align: center;
    }

    header .inner {
        padding: 0;
    }

    .menu-bar {
        position: absolute;
        right: 30px;
        top: 25px;
        background-color: lightblue;
        cursor: pointer;
    }

    /* 강사님 답 */
    /* header .inner .logo {
        left: calc(50% - 25px);
    }

    header .menu-bar {
        position: absolute;
        font-size: 30px;
        line-height: 100px;
        right: 5%;
    }

    header .small-menu {
        display: flex;
        flex-direction: column;
    }

    header .small-menu li {
        background-color: aliceblue;
        height: 60px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
    }

    header .small-menu li:hover {
        background-color: rgb(0, 55, 102);
        color: white;
    }
    header .inner .menu {
        display: none;
    } */
}
