* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    display: flex;
    justify-content: center;
    line-height: 100px;
}

.menu li {
    font-weight: 700;
    padding: 0 10px;
    cursor: pointer;
}
header {
    width: 100%;
    height: 100px;
    background-color: lightblue;
}

header .inner {
    position: relative;
    height: 100%;
    margin: auto;
    /* 그냥 width로 작성하면 가로스크롤 생겨버림, 1200보다 늘어날수없게 max-width로 작성하기 */
    max-width: 1200px;
    padding: 0 1.5rem;
}

header .inner .logo {
    line-height: 100px;
    /* absolute를 하는 이유 : 요소 쌓인 순서에서 벗어나게 해서 li 메뉴들과 분리 해서 위치 고정 시킴 */
    /* 메뉴 들은 정중앙에 위치하게 하기 위해 logo는 포지션 앱솔루트 줌! */
    position: absolute;
    /* i는 font-size로 크기 조절 */
    font-size: 50px;
    color: aliceblue;
    cursor: pointer;
}

.small-menu,
.menu-bar {
    display: none;
}

@media screen and (max-width: 768px) {
    .small-menu,
    .menu-bar {
        display: block;
        text-align: center;
        background-color: rgb(242, 255, 255);
        line-height: 50px;
        cursor: pointer;
    }
    .menu {
        display: none;
    }

    header .inner .logo {
        width: 100%;
        display: block;
        text-align: center;
    }

    header .inner {
        padding: 0;
    }

    .menu-bar {
        position: absolute;
        right: 30px;
        top: 25px;
        background-color: lightblue;
        cursor: pointer;
    }
}
