body {
    background-color: beige;
}

table {
    text-align: right;
    margin: 8px;
}

caption > h3 {
    color: green;
}

.sun {
    color: red;
}

.sat {
    color: blue;
}

#first ~ tr > td:first-child {
    color: red;
}

tr > td:last-child {
    color: blue;
}

#first ~ tr > td.holiday {
    color: red;
}

/* 

아래 css는 html에 colspan 속성을 가진 td가 있어서 적용되지 않음! 
table > tr > td.holiday {
    color: red;

} */
