body {
    width: 1920px;
    height: 7295px;
    /* background: white; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.HeaderCategoryHover {
    /* align-self: stretch; : 요소가 자신의 교차 축 크기를 늘리도록 설정합니다. */
    padding-top: 24px;
    padding-bottom: 24px;
    /* background: white; */
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
header button {
    width: 80px;
    height: 80px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background-color: white;
    margin: 2rem;
}
header button i {
    font-size: 80px;
}
