body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background: white; */
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    /* display: inline-flex; */
    font-family: "Noto Sans KR", sans-serif;
    color: black;
    /* display: flex; */
}

.HeaderCategoryHover {
    /* align-self: stretch; : 요소가 자신의 교차 축 크기를 늘리도록 설정합니다. */
    /* padding-top: 24px;
    padding-bottom: 24px; */
    /* background: white; */
    /* justify-content: space-evenly;
    align-items: center; */
    display: flex;
    justify-content: space-evenly;
}
header button {
    background-color: white;
    margin: 4rem;
    border-style: none;
}
header button i {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
}
header button img {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80px;
    height: 80px;
}

#logo {
    width: 240px;
    height: 144px;
}

main {
    padding-left: 320px;
    padding-right: 320px;
}
.ProductSection {
    /* align-self: stretch; */
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* display: inline-flex; */
}
.product-purchase-info {
    height: 680px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* display: inline-flex; */
    /* display: inline-block; */
}

.prodcut-Image {
    width: 600px;
    height: 968px;
}

.bi-heart {
    font-size: 80px;
    color: #1f0e81;
}
.Unlike-btn {
    border-style: none;
    background-color: white;
}
.unlike {
    display: flex;
    justify-content: flex-end;
}

.EssentialPaddedParkaInkBlack {
    /* width: 758px; 너비를 지정하면 ... 효과 줄 수 있음*/
    text-align: center;
    color: black;
    font-size: 48px;
    /* 글꼴 두께를 500으로 설정 */
    font-weight: 500;
    /* 한 줄에 텍스트가 표시되도록 설정 */
    white-space: nowrap;
    /* 텍스트가 컨테이너를 벗어날 경우 생략 부호로 대체 */
    overflow: hidden;
    /* 생략 부호 대체 효과 적용 */
    text-overflow: ellipsis;
}

.product-explain {
    font-size: 12px;
    font-weight: 400;
    /* 단어가 너무 길어서 화면 밖으로 나갈 경우 줄 바꿈 처리 */
    word-wrap: break-word;
}

.ProductInfo {
    /* flex-direction: column;은 플렉스 아이템들이 세로로 쌓이도록 배치하는 것 */
    flex-direction: column;
    gap: 16px;
    display: flex;
}

.Price span {
    align-self: stretch;
    display: inline-flex;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-right: 32px;
}
#cost-price {
    color: #968f8f;
    text-decoration: line-through;
    margin-right: 8px;
}

.Color {
    align-self: stretch;
    gap: 36px;
    display: inline-flex;
    font-size: 20px;
}

input[type="radio"] {
    /* 라디오 버튼의 크기 조정 */
    /* width: 24px;
    height: 24px; */
    /* 라디오 버튼의 외관을 원으로 변경 */
    /* border-radius: 50%; */
    /* 라디오 버튼의 배경색 설정 */
    /* background-color: black; */
    /* 라디오 버튼의 체크된 상태를 표시할 색상 */
    display: none;
}

.color-select-btn {
    width: 24px;
    height: 24px;
}

.BtnsColor {
    gap: 8px;
}

.Size {
    gap: 16px;
    display: inline-flex;
    font-size: 20px;
}

.BtnsSize {
    width: 40px;
    height: 40px;
    border: 0.5px #968f8f solid;
    font-size: 20px;
    color: #968f8f;
    line-height: 40px;
    text-align: center;
    background-color: white;
}

.Btns {
    padding-top: 240px;
}

.Btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.Btn-cart {
    border: 1px #1f0e81 solid;
    background-color: white;
    color: #1f0e81;
}
.Btn-purchase {
    background: #1f0e81;
    color: white;
}

.send-btn {
    font-size: 32px;
    border-style: none;
    background-color: white;
    float: right;
}

.OptionBar {
    /* align-self: stretch;
    padding-left: 255px;
    padding-right: 255px;
    padding-top: 18px; */
    padding-bottom: 32px;
    margin-left: 10vw;
    margin-right: 10vw;
    /* justify-content: flex-start;
    align-items: flex-end; */
    /* gap: 1px; */
    display: flex;
    justify-content: center;
    border-bottom: 1px #968f8f solid;
}

.product-nav {
    height: 98px;
    width: 20vw;
    line-height: 98px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #968f8f;
    border-right: 1px #968f8f solid;
}
.product-nav-QNA {
    height: 98px;
    width: 20vw;
    line-height: 98px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #968f8f;
}

.ProductExplain {
    align-self: stretch;
    height: 3381px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
}

.product-explain-header {
    height: 160px;
}

#product-info {
    color: black;
    font-size: 20px;
}
.explain-detail {
    color: #968f8f;
    font-size: 20px;
    word-wrap: break-word;
}
.detail-fabric {
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}
.detail-img {
    width: 592px;
    height: 528px;
}

.detail-fabric-explain {
    padding-top: 22px;
    padding-bottom: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.detail-fabric-explain-header {
    width: 668px;
    /* justify-content: center; */
    align-items: center;
    display: inline-flex;
    color: black;
    font-size: 20px;
}

.detail-fabric-explain-content {
    width: 668px;
    height: 176px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    color: #968f8f;
    font-size: 20px;
    word-wrap: break-word;
}

.detail-fabric-explain-add {
    width: 668px;
    height: 27px;
    padding: 8px;
    gap: 8px;
    display: inline-flex;
    color: #968f8f;
    font-size: 20px;
}

.size-info-title {
    font-weight: 400;
    font-size: 20px;
}
